#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todos {
  display: flex;
  justify-content: center;
}

.todo {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
}
