.btn {
  padding: 0.5rem 0.8rem;
  width: fit-content;
  border: none;
  border-radius: 5px;
  transition: 100ms linear;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#vid-showcase {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#vid-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.chapter-break {
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}

.chapter-break::before {
  content: "";
  height: 100%;
  width: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
}

#chapter-ctrl-btn {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 1rem;
  font-weight: 300;
}

#chapters-container {
  min-width: 20%;
  padding: 0.5rem;
  display: none;
}

#chapters-container h1 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #000000;
}

#chapter-titles {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

#chapter-titles li {
  padding: 0.2rem;
  font-size: 1rem;
  list-style: none;
  cursor: pointer;
  transition: 150ms linear;
}

#chapter-titles li:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media only screen and (max-width: 750px) {
  #vid-showcase {
    flex-direction: column;
  }

  #chapters-container {
    width: 100%;
  }
}
